# gitignore all

# environnement
/env

#vscode cach:
.vscode

# images:
/images
*.png
*.bmp

# cach
mrcnn/__pycache__

# trained model: 
*.h5


# annotations:
*.json

# dataset:
*.zip
/dataset


# test folder: 
/test

# mrcnn TF1:
/mrcnn_TF1

# test folder: 
/logs



