# gitignore all

# environnement
/env

#vscode cach:
.vscode

# cach
mrcnn/__pycache__

# trained model: 
*.h5

# annotations:
*.json

# dataset:
*.zip
/dataset


# test folder: 
/test

# load model:
load_model.py


# test folder: 
/logs